# Database - MongoDB Atlas
MONGODB_URI="mongodb+srv://aakashrajendran2004_db_user:5LBw9RVVJcOyOhH1@cp-users.5lcaedf.mongodb.net/?appName=CP-Users"

# Google Gemini API
GOOGLE_GEMINI_API_KEY="AIzaSyDXF3x-HFcu6SAXM_sMVeeOsdf4chrmvgk"

# Google Cloud (Optional for production)
GOOGLE_CLOUD_PROJECT_ID="careerpilot-ai-489008"
GOOGLE_CLOUD_STORAGE_BUCKET="cp_bucket1"

# Application
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
